{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}


{% block body %}
    <header>
        <h1>Jean Forteroche</h1>
        <img scr="/public/images/logomontagne_blanc.png" alt="montagne, logo">
    </header>
{% endblock %}